

body {
    background-color: var(--bg);
    padding: 40px;
    font-family: 'Montserrat', sans-serif;

    /* colors */
    --bg: #E5E5E5;
    --wrapper: #ffffff;
    --sidebar: #cfe3c6;

    --maintext: #000000;
    --subtitle: #516d5a;
    --subtext: #595959;
    --subdescription: #ABABAB;
    --links: #438058;
    --sidebarlinks: #438058; 
    --linkhover: #38a158;
    --sidebartitle: #162a1d;
    --sidebarsubtext: #161d2a;
    --emailhover: #024219;

    --sidebarshadow: #8ead8f;
    transition: 500ms;
}

body.theme-dark {
    --bg: #1a1a1a;
    --wrapper: #272727;
    --sidebar: #628853;

    --maintext: #ffffff;
    --subtitle: #516d5a;
    --subtext: #dfdfdf;
    --subdescription: #A8A8A8;
    --links: #438058;
    --sidebarlinks: #024219; 
    --linkhover: #38a158;
    --sidebartitle: #162a1d;
    --sidebarsubtext: #161d2a;
    --emailhover: #01270f;

    --sidebarshadow: #347447;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: var(--wrapper); /* #ffffff */
    width: 1000px;
    height: 1300px;
    margin: 0 auto;
    box-shadow: 0 4px 4px #0000003F;
}

/* Головний контент */
.main-content {
    padding: 88px 88px 88px 88px;
}

.main-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 8px 0;
    color: var(--maintext); /* #0000000 */
}

/* Про мене */
.about-me-container {
    margin: 0 0 64px 0;
}

.my-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 18px 0;
    color: var(--maintext); /* #0000000 */
}

.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 28px 0;
    color: var(--maintext); /* #0000000 */
}

.my-description {
    width: 525px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--subtext); /* #595959 */
}

/* Мої проекти */
.projects-container {
    margin: 0 0 40px 0;
}

.project-list {
    padding: 0 0 0 18px;
    margin: 0;
    list-style: none;
    counter-reset: list-projects;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--maintext);

    display: grid;
    grid-template-columns: auto 190px 300px;
}

.project-list > .project-item {
    counter-increment: list-projects;
}
.project-list .project-item:before {
    content: counter(list-projects) ". ";
}

.project-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: var(--links); /* #005FFF */
}

.project-item-link:hover {
    color: var(--linkhover); /* #4069af */
}

.project-item-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--subtext); /* #595959 */
    text-align: end;
}

/* Робочий досвід */
.work-experience-container {
    margin: 0 0 40px 0;
}

.work-experience-place {
    margin-bottom: 16px;
}

.work-experience-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: var(--maintext); /* #000000 */
}

.work-experience-company {
    color: var(--subtitle) ; /* #516d5a */
}

.work-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 12px 0 8px 0;
    color: var(--subdescription); /* #ABABAB */
}

.work-duties-list {
    padding: 0 0 0 18px;
    margin: 0;
}

.work-duties {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--subtext);
}

.intersection {
    font-weight: 400;
    color: var(--maintext);
}

/* Освіта */
.education-place {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 12px 0 8px 0;
    color: var(--subtitle); /* #516d5a */
}

.education-area {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 12px 0 8px 0;
    color: var(--maintext);
}

.education-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    color: var(--subdescription); /* #A8A8A8 */
}

/* Сайдбар */
.sidebar {
    width: 300px;
    background: var(--sidebar); /* #cfe3c6 */
    box-shadow: 2px 0 5px var(--sidebarshadow); /* #b1baca */ 
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 8px;
    color: var(--sidebartitle); /* #162a1d */
}

.photoresume {
    margin-top: 40px;
    filter: blur(5px);
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0 0 40px;
}

/* Контакти */
.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 4px;
    color: var(--sidebartitle); /* #162a1d */
}

.contacts-item {
    margin: 0;
}

.contacts-phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: var(--verydarkgreen); /* #162a1d */
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--sidebarlinks); /* #438058 */
}

.contacts-email:hover {
    color: var(--emailhover); /* #024219 */
}

/* Технічні / Гнучкі скіли */

.skills-list {
    margin: 0;
    padding: 0 0 0 21px;
}

.skills-list-item {
    color: var(--subtitle); /* #516d5a */
}

.skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--sidebarsubtext); /* #161d2a */
}

#theme-switch {
    text-align: center;
}